
<!DOCTYPE html>
<html lang="en">
 
 <head>



<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="app/mainApp.js"></script>
<script src="app/mainService.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- All Custom Angular Controllers/Services-->



<style>
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media print {
    h1 {page-break-before: always;}
}
  .mainContainer {
   /* border:thick solid black;*/
    width: 1044px;
    display: table;
    margin: 0 auto;
    padding: 20px;
  }

  .mainTitle {
    display: table; 
    margin: 0 auto;
  }

.headerInfo {
  display:block;
}

  .mainSubTitle {
    float: right;
    font-size: 1.5em;
    padding-right: 30px;
  }

  .topRowSpan {
    display:block;
  }

  .tableCaption {
      background: black;
    color: white;
    text-align: center;
    height: 30px;
  }

.mainTable {
  width: 100%;
  height: 700px;
  border-bottom: thin solid black;
}

.tableCheckbox {
  width: 5%;
  text-align: center;
}

.tableDesc {
   width: 60%;
}

.tableComments {
  width: 35%;
  text-align: center;
font-style: italic;
}

.stripedTableRow {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}


.topSectionBold {
  font-weight: 600;
}

table thead th {
  font-weight: 600;
}


</style>


  <title>MJ Roofing</title>

</head>

  <body  ng-app="masterApp"  ng-controller="formResultCtrl" >
  <div class="mainContainer">
    <div style="width: 100%; height: 160px;">
      <div style="width: 20%; float: left; color: white;">
        _
      </div>

      <div style="width: 55%; float: left;  ">
        <div class="mainTitle"><span style="font-size: 4em;text-decoration: underline;">M&J Service</span><span style="font-size: 2em;"> LLC</span></div>
        <div class="mainSubTitle">ROOFING SPECIALIST 1-877-ROOF 318</div>
      </div>

      <div style="width: 25%; float: left;">
        <div style="float: right;">
        <span class="headerInfo">M&J Service LLC</span>
        <span class="headerInfo">103 Union City Road</span>
        <span class="headerInfo">Prospect, CT 06712</span>
        <span class="headerInfo">Office 203-754-3820</span>
        <span class="headerInfo">Fax: 203-509-6505</span>
        <span class="headerInfo">24 Srv: 203-509-6505</span>
        </div>
      </div>
    </div> <!-- end top header -->

    <div style="width: 100%; height: 100px; line-height: 25px;">
      <div style="width: 50%; float: left; ">
         <div class="topRowSpan"><span class="topSectionBold">Date:</span> <%=theData.curDate%></div>
         <div class="topRowSpan"><span class="topSectionBold">Name:</span><span style="text-transform: uppercase;"> <%=theData.fullName%></span></div> 
         <div class="topRowSpan"><span class="topSectionBold">Address:</span><span style="text-transform: uppercase;">   <%=theData.jobAddress2%></span></div>
          <div class="topRowSpan"><span class="topSectionBold">Email:</span><span style="text-transform: uppercase;">   <%=theData.subTo%></span></div> 
      </div>
      <div style="width: 50%; float: left; ">
      <div style="width: 50%; float: left; line-height: 25px;">
         <div class="topRowSpan"><span class="topSectionBold">Proposal Number:</span>  <%=theData.proposalNum%></div>
         <div class="topRowSpan"><span class="topSectionBold">Square Feet:</span>   <%=theData.squares%>  </div>
         <div class="topRowSpan"><span class="topSectionBold">Discounts:</span><span style="text-transform: uppercase;">  <%=theData.discount%></span></div>
         <div class="topRowSpan"><span class="topSectionBold">Phone:</span>    <%=theData.phone%></div>
      </div>
      </div>
    </div> <!-- end left header -->

  <div style="width: 100%; height: 750px;">
    <table class="mainTable" >
    <caption class="tableCaption"><div style="padding-top: 7px;">M&J Service LLC Proposes to furnish all labor and material to complete the following:</div></caption>
      <thead >
      <tr>  
        <th>Included</th>
        <th>Description</th>
        <th>Comments</th>
      </tr>
      </thead>
        <tbody >
        <tr class="stripedTableRow" >
          <td class="tableCheckbox">  {{<%=theData.cb1%> === false ? "▢" : "✓"}}       
          </td>
           <td class="tableDesc">
            Strip Roof: 
                Remove existing roofing down to wood deck,wood slats, or wood shingles. 
                Specific areas: 
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb1%></span>
          </td>
        </tr>

        <tr>
          <td class=" tableCheckbox">{{<%=theData.cb2%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
             Re-Roof: 
              Remove and discard any curried or disfigured roof shingles.
              Specific areas: 
          </td>
          <td class=" tableComments">
              <span class="resComments"><%=theData.tb2%></span>
          </td>
        </tr>


        <tr class="stripedTableRow" >
          <td class=" tableCheckbox">{{<%=theData.cb3%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
              Flat Roofing: 
                  Apply base sheet to flat roof surface and apply cap sheet roll over base.
                  Specific areas: 
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb3%></span>
          </td>
        </tr>


        <tr>
          <td class=" tableCheckbox">{{<%=theData.cb4%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
            Rubber Roofing: 
                  Apply 2 inch installation with 3 inch plates, fasten it with screws, and apply with glue.
                   Specific areas: 
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb4%></span>
          </td>
        </tr>


        <tr class="stripedTableRow">
          <td class=" tableCheckbox">{{<%=theData.cb5%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
              Apply  {{<%=theData.cb51%> === false ? "▢" : "✓"}}1/2 , {{<%=theData.cb52%> === false ? "▢" : "✓"}} 5/8 CDX plywood over wood slates.
          </td>
          <td class=" tableComments">
           <span class="resComments"><%=theData.tb5%></span>
          </td>
        </tr>

        <tr>
          <td class=" tableCheckbox">{{<%=theData.cb6%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                Replace any damage sheathing at an addition cost of: $ 
                <span class="resComments"><%=theData.tb61%></span>
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb6%></span>
          </td>
        </tr>

        <tr class="stripedTableRow">
          <td class=" tableCheckbox">{{<%=theData.cb7%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                 Apply ice and water barrier at valleys, around skylights, chimneys, pitch changes, and around the trim of the roof.
          </td>
          <td class=" tableComments">
          <span class="resComments"><%=theData.tb7%></span>
          </td>
        </tr>

        <tr>
          <td class=" tableCheckbox">{{<%=theData.cb8%> === false ? "▢" : "✓"}}
 
          </td>
           <td class="tableDesc">
                 As per Connecticut's High Wind Building Code- Shingles are to be applied with six nails.
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb8%></span>
          </td>
        </tr>

        <tr class="stripedTableRow">
          <td class=" tableCheckbox">{{<%=theData.cb9%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                Apply new premium aluminum drip-edge edging to complete roof perimeter.
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb9%></span>
          </td>
        </tr>


        <tr>
          <td class=" tableCheckbox">{{<%=theData.cb10%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                  Apply synthetic underlayment after ice and water placement.
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb10%></span>
          </td>
        </tr>


        <tr class="stripedTableRow">
          <td class=" tableCheckbox">{{<%=theData.cb11%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                 Apply new boot on vent pipes.
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb11%></span>
          </td>
        </tr>


        <tr>
          <td class=" tableCheckbox">{{<%=theData.cb12%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                 Apply new roofing shingles. 
            Specific manufacture style and color:
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb12%></span>
          </td>
        </tr>

        <tr class="stripedTableRow">
          <td class=" tableCheckbox">{{<%=theData.cb13%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
             Apply new flashing on chimney(s) and counter flashing. Lead: 
             {{<%=theData.cb13%> === false ? "▢" : "✓"}},
              copper: {{<%=theData.cb13%> === false ? "▢" : "✓"}}, aluminium: {{<%=theData.cb13%> === false ? "▢" : "✓"}}
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb13%></span>
          </td>
        </tr>

        <tr>
          <td class=" tableCheckbox">{{<%=theData.cb14%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
              Apply ridgevent. 
              Specific areas:
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb14%></span>
          </td>
        </tr>

        <tr class="stripedTableRow">
          <td class=" tableCheckbox">{{<%=theData.cb15%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
              Remove and reinstall TV satelite dish. (Not responsible for proper reception alignment).
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb15%></span>
          </td>
        </tr>

        <tr>
          <td class=" tableCheckbox">{{<%=theData.cb16%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                Clean up daily and remove all job related debris from premises when complete.
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb16%></span>
          </td>
        </tr>

        <tr class="stripedTableRow">
          <td class=" tableCheckbox">{{<%=theData.cb17%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                Clean all roofing debris from guttter when complete.
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb17%></span>
          </td>
        </tr>

        <tr>
          <td class=" tableCheckbox">{{<%=theData.cb18%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                Remove and dispose all job related materials and debris. (Dumpster)
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb18%></span>
          </td>
        </tr>

        <tr class="stripedTableRow">
          <td class=" tableCheckbox">{{<%=theData.cb19%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                Remove and dispose all job related materials and debris. (Dumpster)
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb19%></span>
          </td>
        </tr>

        <tr>
          <td class=" tableCheckbox"> {{<%=theData.cb20%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                Clean all roofing debris from guttter when complete.
          </td>
          <td class=" tableComments">
            <span class="resComments"><%=theData.tb20%></span>
          </td>
        </tr>

        <tr class="stripedTableRow">
          <td class=" tableCheckbox">{{<%=theData.cb21%> === false ? "▢" : "✓"}}
          </td>
           <td class="tableDesc">
                Additional Instructions:
          </td>
          <td class=" tableComments">
              <span class="resComments"><%=theData.tb21%></span>
          </td>
        </tr>

        <tr>
          <td colspan="3" style="text-align: center; border-top: thin solid black;">
          <span style="font-size: .7em;">YOU, THE BUYER MAY CANCEL THIS TRANSACTION AT ANY TIME PRIOR TO MIDNIGHT OF THE THIRD BUSINESS DAY OF THIS TRANSACTION, SEE THE ATTACHED NOTIVE OF CANCELLATION FOR AN EXPLANATION OF THE RIGHT. (SATURDAY IS A LEGAL BUSINESS DAY IN CONNECTICUT)</span>
          </td>
        </tr>
        </tbody>
    </table>
  </div> <!-- end middle table section -->

  <div style="width: 100%; height: 200px; font-weight: 600;">
      <div style="height: 50px;">
      <div style="width: 100%; float: left; ">
        <span>The total cost of the work will be the sum of: </span>
      </div> 
      <div style="width: 33%; float: left; ">
        <span>Subtotal: $<%=theData.subTot%> </span>
      </div>
      <div style="width: 33%; float: left; ">
        <span>Sale Tax: <%=theData.saleTax%>% </span>
      </div>
      <div style="width: 33%; float: left; ">
        <span>Grand Total: $<%=theData.grandTotal%> </span>
      </div>    
    </div>

     <div style="height: 150px;">
      <div style="width: 100%; float: left; ">
        <div style="width: 30%; float: left; color: white;">_</div>
        <div style="width: 40%; float: left; "> 
          <span class="topRowSpan">Payment due in full upon completion unless terms noted above: This Proposal is subject to the conditions printed on the reserve side. 
          </span>
        </div>
        <div style="width: 30%; float: left; color: white;">_</div>
      </div> 

      <div style="width: 50%; float: left; line-height: 30px;">
        <span class="topRowSpan">M-J Service, LLC</span>
        <span class="topRowSpan">Date: <%=theData.curDate%>  </span>
        <span class="topRowSpan">By: <%=theData.seller%></span>
      </div>

      <div style="width: 50%; float: left; line-height: 30px;">
        <span class="topRowSpan">Accepted:</span>
        <span class="topRowSpan">Date:_________________________________</span>
        <span class="topRowSpan">By:___________________________________</span>
      </div>

    </div><!-- end bottom section height-->
  </div> <!-- end bottom section -->

  <div style="width: 100%; height: 200px; text-align: center; font-size: .7em;border-top: thin solid black;">
    <span class="topRowSpan">NOTICE OF CANCELLATION</span>
    <span class="topRowSpan" >
YOU MAY CANCEL THIS TRANSACTION WITHOUT ANY PENALTY OR OBLIGATION, WITHIN THREE BUSINESS DAY FROM THE ABOVE DATE. IF YOU CANCEL, ANY PROPERTY TRADED IN, ANY PAYMENTS MADE BY YOU UNDER THE CONTRACT OR SALE, AND ANY NEGOTIABLE INSTRUMENTS EXECUTED BY YOU WILL BE RETURNED WITHIN TEN BUSINESS DAYS FOLLOWING RECEIPT BY THE SELLER OF YOUR CANCELLATION NOTICE, AND ANY SECURITY INTEREST ARISING OUT OF THE TRANSACTION WILL BE CANCELLED. IF YOU CANCEL, YOU MUST MAKE AVAILABLE TO THE SELLER AT YOUR RESIDENCE, IN SUBSTANTIALLY AS GOOD CONDITION AS WHEN RECEIVED, ANY GOODS DELIVERED TO YOU UNDER THIS CONTRACT OR SALE, OR YOU MAY. IF YOU WISH, COMPLY WITH THE INSTRUCTIONS OF THE SELLER REGARDING RETURN SHIPMENT OF THE GOODS AT THE SELLER IS EXPENSE AND RISK. IF YOU DO MAKE THE GOODS AVAILABLE TO THE SELLER AND THE SELLER DOES NOT PICK THEM UP WITHIN TWENTY DAYS OF THE DATE OF THE CANCELLATION. YOU MAY REFRAIN OR DISPOSE OF THE GOODS WITHOUT ANY FURTHER OBLIGATION. IF YOU FAIL TO MAKE THE GOONS AVAILABLE TOO THE SELLER, OR IF YOU AGREE. TO RETURN THE GOODS TO THE SELLER AND FAIL TO DO SO, THEN YOU REMAIN LIABLE FOR PERFORMANCE OF ALL OBLIGATIONS UNDER THIS CONTRACT, TO CANCEL THIS TRANSACTION, MAIL OR DELNER A SIGNED AND DATED COPY OF THIS CANCELLATION NOTICE OR ANY OTHER WRITTEN NOTICE, OR SEND A TELEGRAM TO:
</span>
    <span style="float: left;">Name of Seller: <%=theData.seller%></span>
  </div>



  </div> <!-- end main container -->

  </body>
</html>

