<table class="table table-striped" >
  <caption class="tableCaption">MJ Service LLC Proposes to furnish all labor and material to complete the following:</caption>
    <thead >
    <tr>  
      <th>Included</th>
      <th>Description</th>
      <th>Comments</th>
    </tr>
    </thead>
      <tbody >
      <tr>
        <td class=" tableCheckbox"> <%=theData.cb1%>
         <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
          <b>Strip Roof:</b> 
              Remove existing roofing down to wood deck,wood slats, or wood shingles. 
              Specific areas: 
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb1%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb2%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
           <b>Re-Roof:</b> 
            Remove and discard any curried or disfigured roof shingles.
            Specific areas: 
        </td>
        <td class=" tableComments">
            <span class="resComments"><%=theData.tb2%></span>
        </td>
      </tr>


      <tr>
        <td class=" tableCheckbox"><%=theData.cb3%>
         <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
            <b>Flat Roofing:</b> 
                Apply base sheet to flat roof surface and apply cap sheet roll over base.
                Specific areas: 
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb3%></span>
        </td>
      </tr>


      <tr>
        <td class=" tableCheckbox"><%=theData.cb4%>
         <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
          <b>Rubber Roofing:</b> 
                Apply 2 inch installation with 3 inch plates, fasten it with screws, and apply with glue.
                 Specific areas: 
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb4%></span>
        </td>
      </tr>


      <tr>
        <td class=" tableCheckbox"><%=theData.cb5%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
            Apply  <%=theData.cb51%> 1/2 , <%=theData.cb52%> 5/8 CDX plywood over wood slates.
        </td>
        <td class=" tableComments">
         <span class="resComments"><%=theData.tb5%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb6%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
              Replace any damage sheathing at an addition cost of: $ 
              <span class="resComments"><%=theData.tb61%></span>
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb6%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb7%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
               Apply ice and water barrier at valleys, around skylights, chimneys, pitch changes, and around the trim of the roof.
        </td>
        <td class=" tableComments">
        <span class="resComments"><%=theData.tb7%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb8%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
               As per Connecticut's High Wind Building Code- Shingles are to be applied with six nails.
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb8%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb9%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
              Apply new premium aluminum drip-edge edging to complete roof perimeter.
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb9%></span>
        </td>
      </tr>


      <tr>
        <td class=" tableCheckbox"><%=theData.cb10%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
                Apply synthetic underlayment after ice and water placement.
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb10%></span>
        </td>
      </tr>


      <tr>
        <td class=" tableCheckbox"><%=theData.cb11%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
               Apply new boot on vent pipes.
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb11%></span>
        </td>
      </tr>


      <tr>
        <td class=" tableCheckbox"><%=theData.cb12%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
               Apply new roofing shingles. 
          Specific manufacture style and color:
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb12%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb13%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
           Apply new flashing on chimney(s) and counter flashing. lead: 
           <%=theData.tb131%>,
            copper: <%=theData.tb132%>, aluminium: <%=theData.tb133%>
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb13%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb14%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
            Apply ridgevent. 
            Specific areas:
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb14%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb15%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
            Remove and reinstall TV satelite dish. (Not responsible for proper reception alignment).
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb15%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb16%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
              Clean up daily and remove all job related debris from premises when complete.
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb16%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb17%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
              Clean all roofing debris from guttter when complete.
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb17%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb18%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
              Remove and dispose all job related materials and debris. (Dumpster)
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb18%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb19%>
         <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
              Remove and dispose all job related materials and debris. (Dumpster)
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb19%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb20%>
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
              Clean all roofing debris from guttter when complete.
        </td>
        <td class=" tableComments">
          <span class="resComments"><%=theData.tb20%></span>
        </td>
      </tr>

      <tr>
        <td class=" tableCheckbox"><%=theData.cb21%>
         <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
         <td class="tableDesc">
              Additional Instructions:
        </td>
        <td class=" tableComments">
            <span class="resComments"><%=theData.tb21%></span>
        </td>
      </tr>



      </tbody>
  </table>