<div class="row">
  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <span class="sectionTitle">
    Date:
    </span>
    <span class="sectionRes">
      <%=theData.curDate%>
    </span>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <span class="sectionTitle">
    Proposal Number:
    </span>
    <span class="sectionRes">
      <%=theData.proposalNum%>
    </span>
  </div>


  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

</div>

<div class="row">
  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <span class="sectionTitle">
    Submitted To: 
    </span>
    <span class="sectionRes">
      <%=theData.subTo%>
    </span>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <span class="sectionTitle">
    Squares:
    </span>
    <span class="sectionRes">
      <%=theData.squares%> sq feet
    </span>
  </div>


  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

</div>


<div class="row">
  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <span class="sectionTitle">
    Name
    </span>
    <span class="sectionRes">
      <%=theData.fullName%>
    </span>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <span class="sectionTitle">
    Discounts:
    </span>
    <span class="sectionRes">
      <%=theData.discount%>
    </span>
  </div>


  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

</div>

<div class="row">
  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <span class="sectionTitle">
    Address:
    </span>
    <span class="sectionRes">
      <%=theData.jobAddress2%>
    </span>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <span class="sectionTitle">
    Phone
    </span>
    <span class="sectionRes">
      <%=theData.phone%>
    </span>
  </div>


  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

</div>












